.App-Draw{
    /*background-color: #1c232c;*/
    /*weight: 1000px;*/
    color: #648a78;
    height: 560px;
    width: 850px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 30px;*/
}