.App-ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}
.App-li{
    float:left;
}
.App-link{
    display:block;
    width: 350px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#151a21;
    text-align:center;
    /*padding:10px;*/
    text-decoration:none;
    text-transform:uppercase;
}
.App-bar{
    background-color:#151a21;
}