.App-position{
    background-color: rgba(28, 35, 44, 0);
    height: 120px;
    width: 20%;
    padding: 2px;
    position: absolute;
    right: 10px;
    top:133px;
}
.App-icon{
    height: 40px;
    width: 40PX;
    padding: 20px;
}
.App-userinfo{
    text-align: center;
    font-size: 1.5em;
    color: aliceblue;
    position: relative;
    bottom: 30px;

}
